* {
    box-sizing: border-box;
    margin: 0;
    padding: 0px;
}

body {
    background: white;
}

/* Fomrulário */

.container {
    margin: auto;
    width: 50%;
    padding: 20px;
    background-color: whitesmoke;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

input[type=text],
input[type=password] {
    width: 70%;
    padding: 15px;
    margin: 3px 0 10px 0;
    display: inline-block;
    border: none;
    border-radius: 10px;
    background: #f1f1f1;
}

input[type=text]:focus,
input[type=password]:focus {
    background-color: #ddd;
    outline: none;
}

hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;

}

.registerbtn {
    background-color: dodgerblue;
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    width: 70%;
    opacity: 0.9;
}

.registerbtn:hover {
    opacity: 1;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

/* Tabelas */

#campos {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 50%;
}

#campos td,
#campos th {
    border: 1px solid #ddd;
    padding: 8px;
}

#campos td a {
    text-decoration: none;
}

#campoos tr:nth-child(even) {
    background-color: #f2f2f2;
}

#campos tr:hover {
    background-color: #ddd;
}

#campos th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: dodgerblue;
    color: white;
}

section {
    padding: 10px;
}

.home {
    margin: auto;
    padding: 30px 0px 20px 10px;
    text-align: center;
    background-color: whitesmoke;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    width: 40%;

}

#tp {
    color: dodgerblue;
    font-weight: bold;
    font-size: 30px;
}

#sp {
    color: dodgerblue;
    font-size: 20px;
}


/* Tempo */

.clima {
    font-weight: bolder;
    color: white;
    padding: 15px;
    font-size: 18px;
    background: rgb(2, 0, 36);
    background: linear-gradient(deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 35%, rgba(0, 212, 255, 1) 100%);

}